<input type="text" placeholder="Enter FirstNumber :">
<input type="text" placeholder="Operator :">
<input type="text" placeholder="Enter SecondNumber :">
<div>
    <div>
        <button>AC</button>
        <button>.</button>
        <button>/</button>
        <button>⌫</button>
    </div>
    <div>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>
    </div>
    <div>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>
    </div>
    <div>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>
    </div>
    <div>
        <button>00</button>
        <button>0</button>
        <button>=</button>
    </div>
</div>