<div id="calculator">
    <div id="top">
        <!-- FN == FirstNumber -->
        <input id="FN" type="text" placeholder="Enter FirstNumber :">
        <!-- op == Operator -->
        <input id="OP" type="text" placeholder="Operator :">
        <!-- SN == SecondNumber -->
        <input id="SN" placeholder="Enter SecondNumber :">
    </div>
    <div>
        <button>AC</button>
        <button>.</button>
        <button>/</button>
        <button>⌫</button>
    </div>
    <div>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>
    </div>
    <div>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>
    </div>
    <div>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>
    </div>
    <div>
        <button>00</button>
        <button>0</button>
        <span> <button id="equal">=</button>
        </span>
    </div>
</div>