<!-- read readme file first -->


<div id="container">
    <div id="calculator">
        <div id="top">
            <div id="caption">
                Calculator
            </div>
            <!-- FN == FirstNumber
            <input id="FN" type="text" placeholder="Enter FirstNumber :">
             op == Operator 
            <input id="OP" type="text" placeholder="Operator :"> 
            SN == SecondNumber
            <input id="SN" placeholder="Enter SecondNumber :"> -->
            <div id="inputBoxes">
                <div id="FN-OP">
                    {{firstNumber}}  {{operator}}
                </div>
                <div id="SN">
                    {{secondNumber}}
                </div>
            </div>
        </div>
        <div>
             <button id="ac">AC</button>
            <button (click)="button('.')">.</button>
            <button (click)="operatorF('/')">/</button>
            <button id="del">⌫</button>
        </div>
        <div>
            <button (click)="button('7')">7</button>
            <button (click)="button('8')" >8</button>
            <button (click)="button('9')">9</button>
            <button (click)="operatorF('*')">*</button>
        </div>
        <div>
            <button (click)="button('4')">4</button>
            <button (click)="button('5')">5</button>
            <button (click)="button('6')">6</button>
            <button (click)="operatorF('-')">-</button>
        </div>
        <div>
            <button (click)="button('1')">1</button>
            <button (click)="button('2')">2</button>
            <button (click)="button('3')">3</button>
            <button (click)="operatorF('+')">+</button>
        </div>
        <div>
            <button (click)="button('00')">00</button>
            <button (click)="button('0')">0</button>
            <span> <button id="equal" (click)="operatorF('=')">=</button>
            </span>
        </div>
    </div>
</div>